* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    background-color: rgba(72, 163, 0, 0.07)
}

.heading {
    color: #48A300;
    font-weight: 700;
    font-size: 64px;
    text-align: center;
}

.heading span {
    color: #61481C;
}

.main__container {
    background-color: #FBFBFB;
    max-width: 660px;
    height: 810px;
    border-radius: 15px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
    margin: 0 auto;
    margin-block: 3em;
}

 .container__heading {
    font-weight: 700;
    padding-left: 1em;
    display: inline-block;
    font-size: 32px;
    vertical-align: sub;
    cursor: default;
}

.both__img {
    position: relative;
    text-align: center;
    vertical-align:middle;
    margin-left: 1em;
    cursor: default;
}

.sun__img__parent {
    position: relative;
    padding-block: 1.5em;
    animation: rotateSun 3s infinite linear;
    cursor: default;
}

.smile__face__img__child {
    position: absolute;
    left: 19px;
    bottom: 48px;
    cursor: default;
}

@keyframes rotateSun {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.title__para {
    margin-left: 30px;
    color: #858585;
    font-size: 14px;
}

.progressBar__container {
    width: 92%;
    margin: 0 auto;
    border-radius: 50px;
    height: 30px;
    background-color: rgba(72, 163, 0, 0.07);
    margin-top: 25px;
    margin-bottom: 25px;
}

.progressBar {
    width: 0%;
    background-color: #48A300;
    height: 100%;
    border-radius: 50px;
    display: flex;
    align-items: center;
    transition: width 2s ease-in-out;
}

.progressBar__Value {
    font-size: 10px;
    color: #EEFFE0;
    margin-left: 2em;
    cursor: default;
    transition: opacity 2s ease-in-out, transform 2s ease-in-out;
    white-space: nowrap;
    overflow: hidden;
}

.error__message {
    margin-left: 2em;
    font-size: 14px;
    color: #FF5151;
    opacity: 0;
    cursor: default;
}

.input__container {
    display: flex;
    align-items: center;
    margin-top: 25px;
    margin-left: 2em;
    border: 2px #0000001A solid;
    height: 87px;
    border-radius: 17px;
    padding-left: 1.5em;
    margin-right: 2em;
}

.input__checkBox {
    border: 2px #61481C4D solid;
    width: 24px;
    height: 24px;
    border-radius: 50px;
    flex-shrink: 0;
    cursor: pointer;

    
    display: flex;
    align-items: center;
    justify-content: center;
}

.Green__Tick {
    background-color: #48A300;
    border: none;
    font-weight: 500;
    
}

.Green__Text {
    text-decoration-line: line-through;
    color: #48A300;
}


.input__main {
    width: 100%;
    align-self: stretch;
    border: none;
    border-radius: 17px;
    padding-left: 2em;
    outline: none;
    font-weight: 500;
    font-size: 16px;
}

.input__main::placeholder {
    color: #D9D9D9;
    font-weight: 500;
    font-size: 16px;
}





.input__gap {
    margin-top: 3.5em;
}

.I__am__One__Step__ahead__Today {
    margin-top: 3em;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    transition: opacity 2s ease-in-out, transform 2s ease-in-out;
}

.Sanjay__Solanki {
    color: #858585;
    font-size: 10px;
    font-weight: 500;
    text-align: center;
    margin-top: 5em;
}
