* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    background-color: rgba(72, 163, 0, 0.07)
}

.heading {
    color: #48A300;
    font-weight: 700;
    font-size: 64px;
    text-align: center;
}

.heading span {
    color: #61481C;
}

.main__container {
    background-color: #FBFBFB;
    max-width: 660px;
    height: 810px;
    border-radius: 15px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
    margin: 0 auto;
    margin-block: 3em;
}

 .container__heading {
    font-weight: 700;
    padding-left: 1em;
    display: inline-block;
    font-size: 32px;
    vertical-align: sub;
    cursor: default;
}

.both__img {
    position: relative;
    text-align: center;
    vertical-align:middle;
    margin-left: 1em;
    cursor: default;
}

.sun__img__parent {
    position: relative;
    padding-block: 1.5em;
    animation: rotateSun 3s infinite linear;
    cursor: default;
}

.smile__face__img__child {
    position: absolute;
    left: 19px;
    bottom: 48px;
    cursor: default;
}

@keyframes rotateSun {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.title__para {
    margin-left: 30px;
    color: #858585;
    font-size: 14px;
}

.progressBar__container {
    width: 92%;
    margin: 0 auto;
    border-radius: 50px;
    height: 30px;
    background-color: rgba(72, 163, 0, 0.07);
    margin-top: 25px;
    margin-bottom: 25px;
}

.progressBar {
    width: 0%;
    background-color: #48A300;
    height: 100%;
    border-radius: 50px;
    display: flex;
    align-items: center;
    transition: width 2s ease-in-out;
}

.progressBar__Value {
    font-size: 10px;
    color: #EEFFE0;
    margin-left: 2em;
    cursor: default;
    transition: opacity 2s ease-in-out, transform 2s ease-in-out;
    white-space: nowrap;
    overflow: hidden;
}

.error__message {
    margin-left: 2em;
    font-size: 14px;
    color: #FF5151;
    opacity: 0;
    cursor: default;
}

.input__container {
    display: flex;
    align-items: center;
    margin-top: 25px;
    margin-left: 2em;
    border: 2px #0000001A solid;
    height: 87px;
    border-radius: 17px;
    padding-left: 1.5em;
    margin-right: 2em;
}

.input__checkBox {
    border: 2px #61481C4D solid;
    width: 24px;
    height: 24px;
    border-radius: 50px;
    flex-shrink: 0;
    cursor: pointer;

    
    display: flex;
    align-items: center;
    justify-content: center;
}

.Green__Tick {
    background-color: #48A300;
    border: none;
    font-weight: 500;
    
}

.Green__Text {
    text-decoration-line: line-through;
    color: #48A300;
}


.input__main {
    width: 100%;
    align-self: stretch;
    border: none;
    border-radius: 17px;
    padding-left: 2em;
    outline: none;
    font-weight: 500;
    font-size: 16px;
}

.input__main::placeholder {
    color: #D9D9D9;
    font-weight: 500;
    font-size: 16px;
}





.input__gap {
    margin-top: 3.5em;
}

.I__am__One__Step__ahead__Today {
    margin-top: 3em;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    transition: opacity 2s ease-in-out, transform 2s ease-in-out;
}

.Sanjay__Solanki {
    color: #858585;
    font-size: 10px;
    font-weight: 500;
    text-align: center;
    margin-top: 5em;
}



@media screen and (max-width: 768px) {
    .heading {
        font-size: 48px;
    }

    .main__container {
        max-width: 100%;
        height: auto;
        margin-block: 1em;
        padding: 1em;
    }

    .container__heading {
        font-size: 28px;
    }

    .input__container {
        margin-left: 1em;
        margin-right: 1em;
        padding-left: 1em;
    }

    .progressBar__Value {
        font-size: 12px;
        margin-left: 1em;
    }

    .input__main {
        font-size: 14px;
    }

    .I__am__One__Step__ahead__Today,
    .Sanjay__Solanki {
        font-size: 12px;
    }
}

@media screen and (max-width: 480px) {
    .heading {
        font-size: 36px;
        padding: 0 10px;
    }

    .heading span {
        font-size: 36px;
    }

    .main__container {
        max-width: 100%;
        height: auto;
        margin-block: 1em;
        padding: 1em;
        margin-inline: 1em;
        margin-top: 15px;
    }

    .container__heading {
        font-size: 22px;
        vertical-align: sub;
        cursor: default;
        display: inline-block;
    }

    .input__container {
        margin-left: 0.5em;
        margin-right: 0.5em;
        padding-left: 1em;
        height: 50px;  
    }

    .input__checkBox {
        width: 20px;
        height: 20px;
    }

    .right__check{
        width: 50%;
    }

    .input__main {
        font-size: 14px;
        padding-left: 1.5em;
    }

    .input__main::placeholder {
        font-size: 14px;
    }

    .progressBar__container {
        width: 92%;
        margin: 0 auto;
        border-radius: 50px;
        height: 20px; 
    }

    .progressBar {
        height: 100%;
        border-radius: 50px;
        display: flex;
        align-items: center;
        transition: width 2s ease-in-out;
    }

    .progressBar__Value {
        font-size: 10px;
        margin-left: 2em;
        white-space: nowrap;
        overflow: hidden;
        line-height: 12px;
    }

    .error__message {
        font-size: 12px;
    }

    .title__para {
        margin-left: 20px;
        margin-top: -10px;
        margin-bottom: 10px;
        font-size: 12px;
    }

    .I__am__One__Step__ahead__Today,
    .Sanjay__Solanki {
        font-size: 10px;
        margin-top: 2em;
    }

    .smile__face__img__child {
        left: 12px;  
        bottom: 33px;
        width: 25%;
        position: absolute;
    }

    .both__img {
        margin-left: 1em;
        position: relative;
        vertical-align: middle;
    }

    .sun__img__parent {
        padding-block: 1em;
        width: 8%;
        position: relative;
    }

    .input__gap{
        margin-top: 2.5em;
    }

    .error__message {
        margin-top: 15px;
        font-size: 12px;
    }

}

@media screen and (max-width: 320px) {
    
    .smile__face__img__child {
        left: 16px;  
        bottom: 36px;
        width: 27%;
        position: absolute;
    }

    .both__img {
        margin-left: 1em;
        position: relative;
        vertical-align: middle;
    }

    .sun__img__parent {
        padding-block: 1em;
        width: 17%;
        position: relative;
    }

    .title__para {
        margin-left: 20px;
        margin-top: 3.5px;
        margin-bottom: 20px;
        font-size: 10px;
    }

    .progressBar__container {
        width: 92%;
        margin: 0 auto;
        border-radius: 50px;
        height: 17px; 
    }

    .progressBar__Value {
        font-size: 8px;
        margin-left: 2em;
        white-space: nowrap;
        overflow: hidden;
        line-height: 12px;
    }

    .input__container{
        margin-top: 15px;
    }

    .input__gap{
        margin-top: 1.7em;
    }

    .error__message {
        margin-top: 15px;
        font-size: 10px;
    }
}
